<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login page</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h1>Login area</h1>

  <h2>Current User: {{user}}</h2>
  <h2>Current Specialty: {{specialty}}</h2>
  <ion-spinner *ngIf="(!this.auth && !this.specialtyList)"></ion-spinner>
  <ion-card *ngIf="!this.auth">
    <ion-item *ngIf="specialtyList">Choose specialty to browse:</ion-item>
    <ion-list>
      <button ion-item *ngFor="let specialty of specialtyList" (click)="chooseSpecialty(specialty)">
        {{specialty}}</button>
    </ion-list>
    <ion-item>
      <p>
        You can browse the any specialty data but not edit.
      </p>
      <p>
        No username needed- click specialty to view
      </p>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="!this.auth">
    <ion-item>
      <h2>Login as editor:</h2>
    </ion-item>
    <ion-item>
      <ion-input type="email" placeholder="Please enter your email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Please enter your password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button (click)="loginUser()">Login</button>
      <p>
        You are able to edit, locally save and publish the data.
      </p>
      <p>
        Username and password are needed
      </p>
    </ion-item>


  </ion-card>
  <ion-card *ngIf="this.auth && this.specialty">
    <ion-item>
      <h2>Already logged in:</h2>
      <button ion-button (click)="enterLoggedIn()">Go to data</button>
    </ion-item>
    <ion-item>
      <h2>Sign out as editor:</h2>
      <p>
        You need to Logout if you wish to browse other specialty's data
      </p>
    </ion-item>
    <ion-item>
      <button ion-button (click)="logoutUser()">Logout</button>
    </ion-item>

  </ion-card>
  <ion-card *ngIf="this.auth && !this.specialty">
    <h1>Loading specialties, please wait...</h1>
    <ion-item>
      <button ion-button (click)="logoutUser()">Logout</button>
    </ion-item>
  </ion-card>


  <ion-card>
    <button ion-button (click)="resetPassword()">Forgotten Password?</button>
  </ion-card>




</ion-content>
